body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 12px;
    width: 100%;
    max-width: 150px;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.vacancy-list {
    padding: 18px;
    text-align: left;
    margin-top: 20px;
}

.vacancy-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
